body {
    background-color: rgb(109, 165, 222);

}

h1 {
    font-size: 8rem;
    text-align: center;
}

button {
    margin: 2rem auto;
    display: block;
    font-size: 5rem;
    background-color: chocolate;
    padding: 1rem 3rem;
    border-radius: 1rem;
}